<% provide :title, t("layouts.title_contact") %>
<h1><%= t "layouts.title_contact" %></h1>
<p>
  <%= t "contact_pages.content_contact" %>
  <a href="http://www.railstutorial.org/#contact"><%= t "contact_pages.link_contact" %></a>.
</p>
