<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on the Elearning-Syaytem at the
  <a href="http://www.railstutorial.org/#help">Elearning-System help section</a>.
  To get help on this system, see the
  <a href="http://www.railstutorial.org/book"><em>Eleaning-System</em>
  book</a>.
</p>