<table class="striped">
  <thead>
    <tr>
      <th class="th-title" data-field="title"><%= t "words.name" %></th>
      <th></th>
      <th class="th-option" data-field="option"><%= t "words.option" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @words %>
  </tbody>
</table>
<%= will_paginate @words %>
