<% provide :title, t("lessons.lesson") %>
<h1>
  <%= t "lessons.lesson" %>
  <%=  @lesson.id %>
</h1>
<div class="row">
  <aside class="col-md-4">
    <section >
      <h1>
        <%= @lesson.category.name %>
      </h1>
    </section>
  </aside>
</div>
