<div class="container-fluid">
  <div class="row">
    <div class="col s4 push-s4">
      <div class="login">
        <h1><%= t "course.create_new_category" %></h1>
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
