<li>
  <%= gravatar_for user %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !user.is_user?(current_user) %>
    | <%= link_to t("index_pages.delete"), user, method: :delete,
    data: {confirm: t("index_pages.you_sure")} %>
  <% end %>
</li>
